*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/


# Windows noise
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Windows Terminal / PowerShell history
*.lnk

# VS Code (if you use it)
.vscode/
!.vscode/extensions.json
scripts/test.sh
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub
